# vim swape tmp files
.*.swp
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
*.bak

# matlab file ignore
*.asv
*.mat
*.mat

# cpp file ignore
*.o
*.obj
*.out
bin/
 
# tmp work
tmp/
__pycache__/
